* {
  box-sizing: border-box;
  user-select: none;
  outline: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
}

*::-webkit-scrollbar,
::-webkit-scrollbar {
  display: none;
}

body {
  overflow: hidden;
}

.shiki {
  padding: 10px;
  border-radius: 5px;
  overflow: auto;
}

.nav {
  padding: 0 10px;
}

.nav .hide-till-md {
  margin: 0;
}

.nav .hide-till-md li {
  padding: 10px;
}

.sidenav {
  width: 70%;
  transform: translateX(-110%);
  transition: 0.5s;
}

.sidenav.active {
  transform: translateX(0);
}

.first {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ball {
  position: absolute;
  bottom: 0;
  height: 10px;
  width: 10px;
  transform: translateY(-500%);
  animation: scroll 1s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateY(-500%);
    opacity: 1;
  }

  100% {
    transform: translateY(-1000%);
    opacity: 0;
  }
}

@media (max-width: 526px) {
  .table {
    display: block;
    width: 100%;
    overflow-x: scroll;
  }
}
